/Java Advanced/02.SetsAndMaps/nbproject/private/
*.class
*.xml
*.properties
*.mf

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
